<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="imagenes" value="C:\Users\CHRITIAN MEJIA\Desktop\programacion\cursos maxi\C SHARP O C# NIVEL 2\PROYECTO FINAL\TPFinalNivel2_MejiaCastrillon\presentacion\bin\Debug\imagenes"/>
		<add key="conexion-db" value="......"/>
	</appSettings>
</configuration>